body {
	min-width: 600px;
	margin: 0;
	padding: 0;
	top: 0;
	font-size: 36px;
}

header {
	display: table;
	margin-top: 20px;
	padding: 0;
	width: 100%;
	height: 100px;
	color: #fff;
	text-align: center;
	background: #777;
	border-top: 3px solid #444;
	border-bottom: 3px solid #444;
	z-index: 1;
}

h1 {
	font-size: 64px;
}

.contents {
	display: table;
	margin: 20px auto;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background: #888;
	border-right: 3px solid #444;
	z-index: 1;
}

.textarea {
	margin: 45px;
	margin-right: 140px;
	height: 70%;
	float: left;
	max-width: 330px;
}

.description {
	margin: 10%;
	padding: 20px 10px;
	color: #FFF;
	font-size: 20px;
	background: #888;
	border: 3px solid #444;
	border-radius: 5px;
	text-align: center;
}

.description p {
	margin: 10px 0;
}

.description hr {
	width: 400px;
	height: 2px;
	background: #444;
	border: none;
}

.textarea textarea {
	margin-bottom: 10px;
	min-width: 320px;
	min-height: 240px;
	max-width: 320px;
	max-height: 100%;
	padding: 2px;
	line-height: 16px;
	font-size: 16px;
	border: 3px solid #444;
	border-radius: 5px;
}

.table table {
	width: 100%;
	background: #AAA;
	border: 3px solid #444;
	border-radius: 5px;
	border-spacing: 0px;
}

.table thead {
	color: #FFF;
	background: #777;
	font-size: 48px;
}

.table td, .table th {
	border: 1px solid #AAA;
}

.cell {
	border: none;
	border-radius: 5px;
	margin: 0 auto;
	min-width: 200px;
	width: 200px;
	min-height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 36px;
	background: #DDD;
}

.table .selector {
	padding: 2px;
	background: #DDD;
	border: 1px solid #444;
	border-radius: 5px;
	cursor: pointer;
}

.table .selector > div {
	width: 40px;
	height: 40px;
	background: #FFF;
	border: 1px solid #888;
	border-radius: 5px;
}

#toolbar {
	display: table;
	background: #AAA;
	border-radius: 5px;
	opacity: 0.0;
}

#toolbar > * {
	display: inline-block;
	font-size: 36px;
	line-height: 40px;
	width: 40px;
	height: 40px;
	text-align: center;
	border: 1px solid #888;
	border-radius: 5px;
	background: #EEE;
	cursor: pointer;
}

#tools {
	display: table;
	margin: 10px auto;
}

.export, .import {
	display: table;
	margin: 10px auto;
	padding: 8px;
	border: 3px solid #444;
	border-radius: 5px;
	background: #DDD;
	cursor: pointer;
}

#help {
	position: absolute;
	width: 100%;
	background: #FFF;
	z-index: 100;
}

#help a {
	color: #DDD;
}

#sidebar-button {
	position: absolute;
	left: 20px;
	top: 45px;
	padding: 8px;
	float: right;
	border: 3px solid #444;
	border-radius: 5px;
	background: #DDD;
	cursor: pointer;
	z-index: 2;
}

#sidebar-button > div {
	margin: 0;
	width: 64px;
	height: 64px;
	border: 2px solid #888;
	border-radius: 5px;
	background: #FFF;
}

#help-button {
	position: absolute;
	right: 20px;
	top: 45px;
	padding: 8px;
	border: 3px solid #444;
	border-radius: 5px;
	background: #DDD;
	cursor: pointer;
}

#help-button > a {
	display: block;
	margin: 0;
	width: 64px;
	height: 64px;
	border: 2px solid #888;
	color: #000;
	text-decoration: none;
	font-size: 64px;
	line-height: 64px;
	text-align: center;
	border-radius: 5px;
	background: #FFF;
}

#export-status {
	text-align: center;
	margin-top: 10px;
	color: #FFF;
}

.ui-sortable-helper td {
	background: #DDD;
	cursor: pointer;
}

.sortable-placeholder td {
	border: 1px solid #EEE;
	background: #EEE;
}
